@charset "UTF-8";

:root {
    --color: #3FB2BF;
    --colorTurn: #19474C;
}

body {
    background-color: var(--color);
}

h1 {    
    text-align: center;
    font-family: Courier;
    font-size: 40pt;
    color: white;
    margin-top: 20px;
}

#menu {
    color: white;
    font-family: Courier;
    font-weight: bold;
    font-size: 120px;
    color: var(--color);
    margin: auto;
    margin-top: -20px;
    height: 120px;
    width: 380px;
}

#X {
    color: var(--colorTurn);
    height: 120px;
    text-align: left;
    margin-left: 20px;
}

#O {
    color: white;
    height: 120px;
    text-align: right;
    margin-top: -120px;
    margin-right: 20px;
}

.square {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    height: 120px;
    width: 120px;
    border-radius: 10px;
    font-family: Courier;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.700);
    color: var(--color);
}

.square:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 150ms;
}

#one {
    margin-top: -90px;
    margin-left: -190px;
}

#two {
    margin-top: -90px;
    margin-left: -60px;
}

#three {
    margin-top: -90px;
    margin-left: 70px;
}

#four {
    margin-top: 40px;
    margin-left: -190px;
}

#five {
    margin-top: 40px;
    margin-left: -60px;
}

#six {
    margin-top: 40px;
    margin-left: 70px;
}

#seven {
    margin-top: 170px;
    margin-left: -190px;
}

#eight {
    margin-top: 170px;
    margin-left: -60px;
}

#nine {
    margin-top: 170px;
    margin-left: 70px;
}

